.events-background {
    background-image: url("./images/events-photo.jpg");
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 20px 0 20px 0;
  }