main {
    display: flex;
    flex-direction: row;
}

.menu-background {
    background-image: url('./images/menu.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 15px;
    box-shadow: 0px 5px 10px #333;
    animation: fadein 2s;
    filter: brightness(60%);
  }

  .disclaimer {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }

  .menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
  }

  .menu-item p {
    font-size: .9rem;
  }
  
  .item-name {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: .1rem;;
    font-weight: bold;
    flex-basis: 100%;
  }
  
  .item-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
  }
  
  .item-size {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: .3rem;
    text-transform: uppercase;
  }
  
  .item-price {
    font-size: 1 rem;
    font-weight: bold;
  }